/* --- reset --- */
.ComboSearch * {
    box-sizing: border-box;
    font-size: 14px;
}

.ComboSearch *:focus,
.ComboSearch a:focus,
.ComboSearch input:focus,
.ComboSearch button:focus,
.ComboSearch select:focus {
    outline: none;
}

.ComboSearch input[disabled] {
    background-color: #f9f9f9 !important;
    border-color: #e1e1e1;
}

.ComboSearch input[disabled]:hover {
    cursor: not-allowed;
}

.ComboSearch input[disabled]::-webkit-input-placeholder {
    color: #e1e1e1;
}

.ComboSearch input[disabled]:-moz-placeholder {
    /* Firefox 18- */
    color: #e1e1e1;
}

.ComboSearch input[disabled]::-moz-placeholder {
    /* Firefox 19+ */
    color: #e1e1e1;
}

.ComboSearch input[disabled]:-ms-input-placeholder {
    color: #e1e1e1;
}

.ComboSearch input[type="email"]:focus,
.ComboSearch input[type="password"]:focus {
    outline-width: 2px;
}

.ComboSearch input[type="search"]:focus,
.ComboSearch input[type="text"]:focus {
    outline: 1px solid #45B3E3;
}

.ComboSearch label {
    font-weight: normal;
    /*color: #595959;*/
}

.ComboSearch ::-webkit-input-placeholder {
    /* Chrome */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
}

.ComboSearch :-ms-input-placeholder {
    /* IE 10+ */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
}

.ComboSearch ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
    opacity: 1;
}

.ComboSearch :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
    opacity: 1;
}

.ComboSearch input[type=text]:-webkit-autofill,
.ComboSearch input[type=text]:-webkit-autofill:hover,
.ComboSearch input[type=text]:-webkit-autofill:focus,
.ComboSearch input[type=text]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 42px white inset !important;
}

/* --- select override styles --- */
.ComboStyleOverride .combo-select {
    min-width: 180px;
}
.ComboStyleOverride .combo-select .combo-select-body {
    border-radius: 2px;
    font-size: 14px;
    border-color: #bcbcbc;
}
.ComboStyleOverride .combo-select .combo-select-body .combo-select-item {
    white-space: nowrap;
}
.ComboStyleOverride .combo-select .combo-select-body .combo-select-item.selected i {
    color: #595959;
}
.ComboStyleOverride .combo-select i {
    color: #595959;
}
.ComboStyleOverride .combo-select .search-input {
    border-radius: 2px;
    border: 1px solid #bcbcbc !important;
}
.ComboStyleOverride .combo-select-head {
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    font-size: 14px;
    /*line-height: 2.6;*/
    line-height: 42px;
    padding-left: 19px;
    color: #595959;
    height: 42px;
    width: auto;
    min-width: 180px;
    cursor: pointer;
    vertical-align: top;
}
@media (max-width: 640px) {
    .ComboStyleOverride .combo-select-head {
        width: 100%;
    }
}

/* --- datepicker style override --- */
.Datepicker {
    position: relative;
}

.Datepicker__icon {
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M18%208.5V0H0v17h18z%22/%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M16.875%2015.583a.365.365%200%200%201-.375.354h-15c-.207%200-.375-.159-.375-.354V3.01c0-.195.168-.354.375-.354h2.438V3.72c0%20.293.251.53.562.53.31%200%20.563-.237.563-.53V2.656h3.375V3.72c0%20.293.252.53.562.53.31%200%20.563-.237.563-.53V2.656h3.374V3.72c0%20.293.252.53.563.53.311%200%20.563-.237.563-.53V2.656H16.5c.207%200%20.375.159.375.354v12.573zM16.5%201.593h-2.438V.532c0-.294-.25-.531-.562-.531-.311%200-.563.237-.563.531v1.063H9.563V.53C9.563.237%209.31%200%209%200c-.31%200-.563.237-.563.531v1.063H5.063V.53C5.063.237%204.81%200%204.5%200c-.31%200-.563.237-.563.531v1.063H1.5c-.828%200-1.5.633-1.5%201.416v12.573C0%2016.366.672%2017%201.5%2017h15c.829%200%201.5-.634%201.5-1.417V3.01c0-.783-.671-1.416-1.5-1.416z%22%20mask%3D%22url%28%23b%29%22/%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M4%208h2V6H4zM4%2011h2V9H4zM4%2014h2v-2H4zM8%2014h2v-2H8zM8%2011h2V9H8zM8%208h2V6H8zM12%2014h2v-2h-2zM12%2011h2V9h-2zM12%208h2V6h-2z%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) no-repeat center center;
    background-size: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #595959;
    pointer-events: none;
}

.Datepicker.Datepicker--pushDown {
    margin-top: 25px;
}

@media (max-width: 767px) {
    .Datepicker.Datepicker--pushDown {
        margin-top: 45px;
    }
}

.DatepickerSeparator {
    display: inline-block;
    width: 6.57%;
    font-weight: bold;
    font-size: 15px;
    color: #595959;
    text-align: center;
}

.rdtPrev span,
.rdtNext span,
.rdtBtn {
    color: #45B3E3;
}

/* --- util --- */
.Input {
    padding: 11px 15px;
    padding-left: 49px;
    border: 1px solid #bcbcbc;
    width: 100%;
    height: 42px;
    display: block;
    outline: 1px solid transparent;
    transition: all .2s ease-in-out;
}

.Input:focus {
    outline: 1px solid #45B3E3;
}

.Button {
    display: inline-block;
    height: 42px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    border-width: 0 0 2px;
    border-style: solid;
    min-width: 100px;
    transition: background-color 0.4s;
    padding: 2px 6px;
    line-height: 2.4;
    text-align: center;
    z-index: 5;
    cursor: pointer;
    margin-top: 10px;
}

.Button.Button--action {
     color: #fff;
     background-color: #45B3E3;
     border-color: #068fc5;
     min-width: 145px;

}

.Button.Button--action:focus,
.Button.Button--action:hover {
    background-color: #75d1f9;
}

.Button.Button--action:disabled {
    color: #fff;
    background-color: #D7D7D7;
    border-color: #3D3D3D;
    transition: background-color 0.4s;
    cursor: not-allowed;
}


/* --- main --- */
.ComboSearch {
    background-color: #fff;
    border: solid 1px #bcbcbc;
    padding: 24px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ComboSearch .ComboStyleOverride {
    position: relative;
}

.ComboSearch > p {
    flex: 0 1 100%;
    font-weight: bold;
}

@media (max-width: 768px) {
    .ComboSearch {
        display: block;
    }
}

.combo-select {
    /*min-width: 180px;*/
}

.ComboStyleOverride {
    flex: 1 0 28%;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .ComboStyleOverride {
        margin-right: 2%;
        margin-bottom: 0;
    }
}

.ComboSearch__inputWrapper {
    position: relative;
    flex: 1 0 70%;
}

.ComboSearch__inputIcon {
    display: inline-block;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23595959%22%20fill-rule%3D%22evenodd%22%20d%3D%22M29.385%2021.846c0-2.075-.738-3.85-2.213-5.326-1.475-1.475-3.25-2.212-5.326-2.212-2.075%200-3.85.737-5.326%202.212-1.475%201.476-2.212%203.25-2.212%205.326%200%202.075.737%203.85%202.212%205.326%201.476%201.475%203.25%202.213%205.326%202.213%202.075%200%203.85-.738%205.326-2.213%201.475-1.475%202.213-3.25%202.213-5.326zm8.615%2014a2.07%202.07%200%200%201-.64%201.515%202.07%202.07%200%200%201-1.514.639c-.606%200-1.11-.213-1.514-.64l-5.772-5.754c-2.008%201.39-4.246%202.086-6.714%202.086a11.64%2011.64%200%200%201-4.602-.934c-1.464-.622-2.726-1.464-3.786-2.524s-1.902-2.322-2.524-3.786A11.64%2011.64%200%200%201%2010%2021.846c0-1.604.311-3.138.934-4.602.622-1.464%201.464-2.726%202.524-3.786s2.322-1.902%203.786-2.524A11.64%2011.64%200%200%201%2021.846%2010c1.604%200%203.138.311%204.602.934%201.464.622%202.726%201.464%203.786%202.524s1.902%202.322%202.524%203.786a11.64%2011.64%200%200%201%20.934%204.602c0%202.468-.695%204.706-2.086%206.714l5.771%205.772c.415.415.623.92.623%201.514z%22/%3E%0A%3C/svg%3E%0A) no-repeat center center;
    background-size: 34px;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 15px;
    top: 4px;
}

.ComboSearch__input:required {
    box-shadow: none;
}

.ComboSearch__input:invalid {
    box-shadow: none;
}

.ComboSearch__datePicker {
    background-color: #fff;
    display: flex;
    flex: 1 0 70%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 640px) {
    .ComboSearch__datePicker {
        display: block;
    }
}

@media (min-width: 768px) {
    .ComboSearch__datePicker {
        margin-left: -2%;
    }
}

.ComboSearch__RadioWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 50%;
    height: 42px;
}

@media (max-width: 640px) {
    .ComboSearch__RadioWrapper {
        flex: 0 1 100%;
    }
}

.ComboSearch__datePickerWrapper {
    flex: 1 0 50%;
    height: 42px;
    position: relative;
}

@media (max-width: 640px) {
    .ComboSearch__RadioWrapper {
        flex: 0 1 100%;
        margin-bottom: 16px;
    }
}

.ComboSearch__formError {
    position: absolute;
    z-index: 10;
    top: 54px;
    left: 0;
    background-color: #e80029;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.ComboSearch__formError:after {
    bottom: 100%;
    left: 20%;
    border: 10px solid rgba(232, 0, 41, 0);
    border-bottom-color: #e80029;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -10px;
}

.RadioGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.RadioGroup input {
    display: none;
}

.RadioGroup__label {
    margin: 0 1.5%;
    display: flex;
    flex: 1 0 47%;
    justify-content: center;
    align-items: center;
    max-width: 131px;
    height: 42px;
    border-radius: 21px;
    color: #aeaeae;
    background-color: #fff;
    border: solid 1px #bcbcbc;
    cursor: pointer;
}

.RadioGroup__label--checked {
    color: #fff;
    background-color: #02355b;
    border: solid 1px #02355b;
}

.FilterBar {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 16px;
    flex: 0 1 110%;
}

.FilterBar__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-width: 90px;
    min-height: 60px;
    padding: 6px 34px 6px 6px;
    background-color: #3d3d3d;
    margin: 10px;
}

.FilterBar__filterText {
    margin: 2px 0;
    width: 100%;
    color: #fff;
}

.FilterBar__filterClose {
    color: #595959;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M37.149%208.851c-7.801-7.801-20.496-7.802-28.298%200s-7.801%2020.496%200%2028.298c7.802%207.801%2020.496%207.801%2028.298%200%207.801-7.802%207.801-20.497%200-28.298zm-6.258%2022.04a1.539%201.539%200%200%201-2.177%200L23%2025.175l-5.986%205.986a1.539%201.539%200%201%201-2.176-2.176L20.824%2023l-5.714-5.714a1.539%201.539%200%201%201%202.176-2.177L23%2020.823l5.442-5.441a1.539%201.539%200%201%201%202.176%202.176L25.177%2023l5.714%205.714a1.539%201.539%200%200%201%200%202.176z%22/%3E%0A%3C/svg%3E%0A) no-repeat center center;
    background-size: 18px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.FilterBar__filter.FilterBar__filter--disabled {
    background-color: #bcbcbc;
}

.FilterBar__filter.FilterBar__filter--disabled .FilterBar__filterClose {
    cursor: not-allowed;
}

